@import 'vendors/font-awesome/font-awesome';
@import 'typo/typo';

* {
  font-family: Favorit, Arial, sans-serif;
}

#VRButton {
  border: none !important;
  font-family: Favorit, Arial, sans-serif !important;
  background: transparent !important;
}
